@charset "utf-8";
.wholeworldbanner {
	display: block;
	width: 100%;
	background-color: #14345F;
	text-align: right;
	
}
.pageheader {
	display: block;
	width: 100%;
	position: relative;
	background-color: #14345F;
}
.pagewidth.pic_p {
	position: relative;
}
.intrpage {
	color: #FFF;
	display: block;
	width: 580px;
	position: absolute;
	left: 60px;
	top: 80px;
}
.intrpage.jf{
	top: 120px;
}
.intrpage h3 {
	font-size: 36px;
	text-align: left;
	display: block;
	font-weight: normal;
}
.intrpage h3 em {
	color: #0CF;
	font-style: normal;
}

.intrpage p {
	font-size: 14px;
	line-height: 150%;
	text-align: left;
	margin-top: 5px;
}
.rowblock {
	display: block;
	padding-top: 40px;
	padding-bottom: 40px;
	
}
.nopadding{
	padding-bottom: 0px;
}
.graybg{
	background-color: #F7F7F7;
}
.pagewidth h4 {
	font-size: 24px;
	display: block;
	margin-left: 10px;
	line-height: 150%;
	font-weight: normal;
}
.pagewidth .h_txt {
	font-size: 14px;
	display: block;
	margin-left: 10px;
	color: #666;
	line-height: 150%;
	font-weight: normal;
}
.map_w {
	display: block;
	position: relative;
	margin-top: 10px;
}
.map_w .map_w_t {
	margin-left: -200px;
	position: absolute;
	left: 50%;
	bottom: 20px;
	font-size: 14px;
	line-height: 50px;
	font-weight: bold;
	color: #0066CC;
	border: 1px solid #0066CC;
	text-align: center;
	width: 450px;
}
.selcitytable {
	display: block;
	padding-right: 10px;
	padding-left: 10px;
}
.selcitytable table {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-left-color: #CCC;
	margin-top: 15px;
	font-size: 14px;
}
.selcitytable table td,.selcitytable table th{
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	padding: 10px;
}
.selcitytable table th{
	background-color: #EBEBEB;
	color: #333;
	width: 34px;
}.selcitytable  a {
	font-size: 14px;
	color: #0379DA;
	text-align: center;
	display: block;
	float: left;
	width: 70px;
	background-color: #EBEBEB;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid #CCC;
	margin: 10px;
}
.selcitytable  a:hover {
	background-color: #fff;
	border: 1px solid #0379DA;
}
.p_text{
	font-size: 14px;
	padding: 10px;
}
.detailstable {
	display: block;
}
.detailstable table {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-left-color: #CCC;
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
	background-color: #FAFAFA;
}

.detailstable th,.detailstable td{
	text-align: left;
	font-size: 14px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	padding: 10px;
}
.detailstable th{
	background-color: #ECECFB;
}
.detailstable th .bluetxt {
	color: #0379DC;
}
.rowlineblocklist {
	overflow: hidden;
	display: block;
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
	border: 1px solid #CCC;
}
.rowlineblock {
	display: block;
	float: left;
	width: 33.2%;
	text-align: center;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
	padding-top: 30px;
	padding-bottom: 40px;
}
.rowlineblock.noline {
	border-right-style: none;
}

.rowlineblock_icon {
	display: block;
	height: 60px;
	width: 60px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/rowblockicon.png);
	background-repeat: no-repeat;
}
.lineblock_icon01{
	background-position: center top;
}
.lineblock_icon02{
	background-position: center -120px;
}
.lineblock_icon03{
	background-position: center -240px;
	background-image: url(../images/rowblockicon.png);
}
.rowlineblock_t {
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
}
.rowlineblock_p {
	font-size: 14px;
	line-height: 150%;
	color: #333;
}
.sel_jfdiv {
	display: block;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.sel_jf_row {
	display: block;
	margin-top: 5px;
}

.sel_jfdiv a {
	background-color: #F4F4FD;
	border: 1px solid #DBDBEA;
	display: block;
	float: left;
	font-size: 14px;
	color: #333;
	margin-right: 15px;
	line-height: 36px;
	width: 100px;
	text-align: center;
	margin-top: 6px;
	margin-bottom: 6px;
	position: relative;
}
.sel_jfdiv a:hover {
	border: 1px solid #2B6CC6;
}
.sel_jfdiv a.active {
	background-color: #2B6CC6;
	border: 1px solid #2B6CC6;
	color: #FFF;
}
.sel_jf_row a.moresel span {
	background-image: url(../images/moremeun.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 15px;
}
.localdiv {
	width: 100%;
	position: absolute;
	top: 37px;
	background-color: #F4F4FD;
	left: -1px;
	display: none;
	color: #333;
	z-index: 99;
}
.localblock {
	width: 100%;
	background-color: #F4F4FD;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #2B6CC6;
	border-bottom-color: #2B6CC6;
	border-left-color: #2B6CC6;
	line-height: 32px;
}

.localdiv a{}

.jf_info {
	display: block;
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
}
.jf_info table {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
}
.jf_info th {
	background-color: #F4F4FD;
	line-height: 28px;
}
.jf_info th,.jf_info td{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
}
.tableicon {
	display: block;
	height: 28px;
	width: 28px;
	float: left;
	background-image: url(../images/tableicon.png);
	background-repeat: no-repeat;
	margin-right: 10px;
}
.t_icon01 {
	background-image: url(../images/tableicon.png);
	background-repeat: no-repeat;
	background-position: center 0px;
}
.t_icon02 {
	background-image: url(../images/tableicon.png);
	background-repeat: no-repeat;
	background-position: center -50px;
}
.t_icon03 {
	background-image: url(../images/tableicon.png);
	background-repeat: no-repeat;
	background-position: center -100px;
}
.t_icon04 {
	background-image: url(../images/tableicon.png);
	background-repeat: no-repeat;
	background-position: center -150px;
}.tablemark {
	font-size: 12px;
	color: #999;
	display: block;
	margin-left: 10px;
	text-align: left;
}
.pagebanner {
	background-color: #73B9FF;
	text-align: center;
	display: block;
}
.contactlist {
	display: block;
	width: 720px;
	margin-right: auto;
	margin-left: auto;
	font-size: 14px;
	color: #333;
	line-height: 40px;
	overflow: hidden;
	margin-top: 50px;
	margin-bottom: 50px;
}
.contactblock {
	display: block;
	float: left;
	width: 250px;
	padding-left: 70px;
	background-image: url(../images/contactcion.png);
	background-repeat: no-repeat;
	line-height: 60px;
	margin-left: 30px;
}
.contacticon01{background-position: left top;}
.contacticon02{background-position: left -60px;}
.renthostdiv {
	width: 1200px;
	overflow: hidden;
}

.renthostblock {
	display: block;
	float: left;
	width: 370px;
	position: relative;
	background-color: #CCC;
	margin-right: 15px;
	margin-left: 15px;
}
.Fcolumn{width: 270px;}
.renthostblock img {
	height: auto;
	width: 100%;
}

.renthostblock h5 {
	font-size: 16px;
	line-height: 40px;
	color: #FFF;
	position: absolute;
	left: 0px;
	bottom: 0px;
	text-align: center;
	background-color: rgba(0,0,0,0.7);
	display: block;
	width: 100%;
	font-weight: 500;
}
.crentservicelist,.dfunctionlist {
	display: block;
	overflow: hidden;
	margin-top: 15px;
}
.crentserviceblock,.dfunctionlistblock {
	display: block;
	float: left;
	width: 200px;
	text-align: center;
}
.crentserviceblock h5,.dfunctionlistblock h5 {
	font-weight: normal;
	font-size: 14px;
}

.crentserviceicon {
	background-image: url(../images/crentseviceicon.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 70px;
	width: 70px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.dfunctionicon {
	background-image: url(../images/DDOSicon.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 70px;
	width: 70px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.csicon01,.dficon01 {
	background-position: center top;
}
.csicon02,.dficon02 {
	background-position: center -100px;
}
.csicon03,.dficon03 {
	background-position: center -200px;
}
.csicon04,.dficon04 {
	background-position: center -300px;
}
.csicon05,.dficon05 {
	background-position: center -400px;
}
.csicon06,.dficon06 {
	background-position: center -500px;
}
.sdnintr {
	background-image: url(../images/sdnbgpic.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	display: block;
	height: 260px;
}
.sd_wbg {
	background-image: url(../images/sd_wbg.png);
	background-repeat: no-repeat;
	background-position: 10px bottom;
	display: block;
	height: 320px;
}
.divrightfloat {
	position: absolute;
	top: 100px;
	right: 10px;
	width: 500px;
}
.divrightfloat p {
	font-size: 14px;
	margin-top: 50px;
}
.sdwlist {
	display: block;
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 20px;
}
.sdwblock {
	display: block;
	float: left;
	width: 33.3%;
	text-align: center;
	font-size: 14px;
}
.sdwicon {
	background-image: url(../images/sd_w_icon.png);
	background-repeat: no-repeat;
	
	display: block;
	height: 70px;
	width: 70px;
	margin-right: auto;
	margin-left: auto;
}
.sdwicon01{background-position: center top;}
.sdwicon02{background-position: center -90px;}
.sdwicon03{background-position: center -180px;}.sdwtext {
	display: block;
	margin-top: 10px;
}
.aboutlist{
	display: block;
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 20px;
}
.aboutlistblock{
	display: block;
	float: left;
	width: 300px;
	text-align: center;
}.aboutblockicon {
	background-image: url(../images/abouticon.png);
	background-repeat: no-repeat;
	
	display: block;
	height: 90px;
	width: 90px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}
.abicon01{background-position: center top;}
.abicon02{background-position: center -100px;}
.abicon03{background-position: center -200px;}
.abicon04{background-position: center -300px;}

.aboutlistblock h5 {
	font-size: 16px;
	display: block;
}
.aboutlistblock p {
	font-size: 14px;
}
.lineh {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	font-size: 14px;
	color: #666;
	margin-top: 50px;
	text-align: center;
	display: block;
}
.lineh em {
	font-style: normal;
	margin-top: -8px;
	text-align: center;
	display: block;
	background-color: #FFFFFF;
	width: 630px;
	margin-right: auto;
	margin-left: auto;
}
.pagewidth form {
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	overflow: hidden;
}
.halfrow {
	width: 50%;
	display: block;
	float: left;
	margin-top: 20px;
}
.pagewidth form span {
	font-size: 14px;
	line-height: 28px;
	text-align: right;
	float: left;
	width: 100px;
	margin-right: 8px;
}
.pagewidth form em {
	font-size: 14px;
	line-height: 28px;
	color: #999;
	margin-left: 5px;
	font-style: normal;
}


.halfrow input {
	background-color: #FFF;
	border: 1px solid #CCC;
	font-family: "微软雅黑", "宋体", "黑体", "新宋体", "Arial Unicode MS", "Calisto MT";
	font-size: 14px;
	line-height: 150%;
	padding: 2px;
	width: 200px;
}
.row {
	display: block;
		margin-top: 20px;
	float: left;
}
.row input {
	width: 552px;
	background-color: #FFF;
	border: 1px solid #CCC;
	font-family: "微软雅黑", "宋体", "黑体", "新宋体", "Arial Unicode MS", "Calisto MT";
	font-size: 14px;
	line-height: 150%;
	padding: 2px;

}
.row textarea {
	width: 552px;
	background-color: #FFF;
	border: 1px solid #CCC;
	font-family: "微软雅黑", "宋体", "黑体", "新宋体", "Arial Unicode MS", "Calisto MT";
	font-size: 14px;
	line-height: 150%;
	padding: 2px;
	height: 80px;
}
.row button {
	font-size: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-left: 108px;
	padding-right: 50px;
	padding-left: 50px;
	cursor: pointer;
}
.ptbtn {
	color: #064A82;
	background-color: #D5D5D5;
	border: 1px solid #064A82;
	font-family: "微软雅黑", "宋体", "黑体", "新宋体", "Arial Unicode MS", "Calisto MT";
	font-size: 16px;
}
.tjbtn {
	color: #FFFFFF;
	background-color: #064A82;
	border: 1px solid #064A82;
	font-family: "微软雅黑", "宋体", "黑体", "新宋体", "Arial Unicode MS", "Calisto MT";
	font-size: 16px;
}.sexy {
	float: left;
}
.sexyblcok {
	display: block;
	float: left;
	line-height: 28px;
	background-color: #FFF;
	padding-right: 10px;
	padding-left: 10px;
	border: 1px solid #CCC;
	margin-right: -1px;
	font-size: 14px;
	cursor: pointer;
}
.sexyblcok.active {
	color: #FFF;
	background-color: #064A82;
	border: 1px solid #064A82;
}
